.botao {
  background: #2bbcec;
  color: white;
  font-size: 2rem;
  border-radius: 50%;

  box-shadow: 3px 3px 6px #cceffb;

  width: 2.5rem;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 2rem;
  right: 1rem;
}

.botao a {
  color: white;
  height: 100%;
}
